.listados {
  min-height: 100vh;
  background: #f5f5f5;
}

/* HEADER */

.title {
  font-size: 22px;
}

/* CONTENT */
.content {
  padding: 30px;
}

.subtitle {
  font-size: 26px;
  margin-bottom: 20px;
}

/* GRID */
.cars-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 25px;
}

/* CARD */
.car-card {
  background: white;
  border-radius: 12px;
  overflow: hidden;
}

.car-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.car-card h3 {
  padding: 12px;
  font-size: 18px;
}

.status {
  padding: 0 12px;
  font-weight: bold;
}

.car-card p {
  padding: 0 12px 15px;
  color: gray;
}
