.listados {
  min-height: 100vh;
  background: #f5f5f5;
}

/* HEADER */
.header {
  height: 70px;
  background: #020617;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.title {
  font-size: 22px;
}

.search {
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  outline: none;
}

/* CONTENT */
.content {
  padding: 30px;
}

.subtitle {
  font-size: 26px;
  margin-bottom: 20px;
}

/* GRID */
.cars-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 25px;
}

/* CARD */
.car-card {
  background: white;
  border-radius: 12px;
  overflow: hidden;
}

.car-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.car-card h3 {
  padding: 12px;
  font-size: 18px;
}

.status {
  padding: 0 12px;
  font-weight: bold;
}

.car-card p {
  padding: 0 12px 15px;
  color: gray;
}
